@(vehicle: Vehicle)(implicit messages: Messages)

@import helper._

@main("Details of the vehicle being checked") {
<div class="body-container group">

    <div class="regHeader group" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <h2><span class="registrationNumberLabel">Registration number: </span><span class="registrationNumber">@vehicle.licenseReg</span></h2>
    </div>
    <div class="group" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <div class="isValidTax">
            <h3>✔ Taxed</h3>
            <p>
                Tax due: @vehicle.motDueDate.format("dd MMMM yyyy")</p>
        </div>
        <div class="isValidMot">
            <h3>✔ MOT</h3>
            <p>
                Expires: @vehicle.motDueDate.format("dd MMMM yyyy")</p>
        </div>
    </div>
    <div class="application-notice info-notice info-notice-bold group" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <p>If you have just purchased this vehicle, you must tax it even if it shows as taxed above. Vehicle tax cannot be transferred from keeper to keeper.</p>
        <p>If you have taxed, made a SORN or had an MOT it can take up to 5 days for these details to be shown above.</p>
        <p>You can check with your bank/building society to confirm your payment was successful.</p>
        <p>If you have a valid paper MOT certificate this is proof that the vehicle has been tested.</p>
    </div>
    <h3 xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        Vehicle details
    </h3>
    <ul class="ul-data" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <li><span>
          Vehicle make
        </span><strong>@vehicle.model.modelName</strong></li>
        <li><span>
              Date of first registration
            </span><strong>@vehicle.registrationDate.format("dd MMMM yyyy")</strong></li>
        <li><span>
            Year of manufacture
          </span><strong>@vehicle.registrationDate.format("yyyy")</strong></li>
        <li><span>
          Cylinder capacity (cc)
        </span><strong>6000cc
        </strong></li>
        <li><span>
          CO₂Emissions
        </span><strong>949 g/km
        </strong></li>
        <li><span>
          Fuel type
        </span><strong>PETROL</strong></li>
        <li><span>
          Vehicle status
        </span><strong>
            Tax not due
        </strong></li>
        <li><span>
          Vehicle colour
        </span><strong>SILVER</strong></li>
        <li><span>
          Vehicle type approval
        </span><strong>M1</strong></li>
        <li><span>
          Wheelplan
        </span><strong>2 AXLE RIGID BODY</strong></li>
        <li><span>
          Revenue weight
        </span><strong>
            Not available
        </strong></li>
    </ul>
    <div class="application-notice info-notice info-notice-bold group" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <p><strong>Calculating the cost of vehicle tax</strong><br>
            You can use the information above to work out the cost of taxing this vehicle using the
            <a href="https://www.gov.uk/vehicle-tax-rate-tables" rel="external" target="_blank" title="vehicle-tax-rate-tables">vehicle-tax-rate-tables</a> or
            <a href="https://www.gov.uk/government/publications/rates-of-vehicle-tax-v149" rel="external" target="_blank" title="rates-of-vehicle-tax-v149">rates-of-vehicle-tax-v149</a>
            or enter the V5C reference number on the previous page.
        </p>
    </div>
    <div class="group" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><span id="toggle-target-button" tabindex="0" role="toggle-link" aria-expanded="false" aria-controls="divNoReminderLetter">
        Incorrect details?
      </span><div id="divNoReminderLetter" aria-hidden="true">
        <p>For further information on the MOT details displayed on your search result please contact:</p>
        <p>
            DVSA for vehicles registered to a GB address or visit the <a href="https://www.gov.uk/browse/driving/mot-insurance" rel="external" target="_blank" title="Vehicle MOT Page">vehicle MOT page</a><br>
            Or <br>
            DVAT for vehicles registered to a Northern Ireland address or visit <a href="http://www.nidirect.gov.uk/index/information-and-services/motoring/mot-and-vehicle-testing.htm" rel="external" target="_blank" title="Vehicle MOT Page">NI Direct</a></p>
        <p>If you think that the details on the vehicle record are incorrect please write to:</p>
        <p>
            CCG<br>
            DVLA<br>
            Swansea<br>
            SA99 1BA
        </p>
        <p>
            Please include the incorrect V5C registration certificate for amendment.
        </p>
    </div>
    </div><input type="Hidden" value="VESConclusion" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><input type="Hidden" value="VehicleDetails" xmlns:utils="urn:utils" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <div class="action">
        <input type="submit" name="ctl00$MainContent$butFinish" value="Finished" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$MainContent$butFinish&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="MainContent_butFinish" class="button" />

        <div id="divSearchAgain">
            <a id="MainContent_butSearchAgain" href="javascript:__doPostBack(&#39;ctl00$MainContent$butSearchAgain&#39;,&#39;&#39;)">Search again</a>
        </div>
    </div>

</div>

}