@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/opengraph-image-4e469785ca4cc8f8dd18d0627bc43d19.png" />

    <script type="text/javascript">
            (function () { if (navigator.userAgent.match(/IEMobile\/10\.0/)) { var d = document, c = "appendChild", a = d.createElement("style"); a[c](d.createTextNode("@@-ms-viewport{width:auto!important}")); d.getElementsByTagName("head")[0][c](a); } })();
        </script>
    <!--[if gt IE 8]><!-->
    <link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Styles/govuk-template.css?30" media="screen"
          rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if IE 6]><link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Styles/govuk-template-ie6.css?30" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Styles/govuk-template-ie7.css?30" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Styles/govuk-template-ie8.css?30" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Styles/govuk-template-print.css?30" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
          (function(){if(window.opera){return;}
           setTimeout(function(){var a=document,g,b={families:(g=
           ["nta"]),urls:["https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/gds/fonts-ie8-ec274e547d95d22db00164cc291c8611.css"]},
           c="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/gds/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
           e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
           ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
           .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
          })()
        </script>
    <![endif]-->

    <!--[if gte IE 9]><!-->
    <link href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/gds/fonts-607c54f71c7c1f98257595cedaa13a34.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <script src="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Scripts/ie-fc5bd25c5f46587b9bff917417ab2b7f.js" type="text/javascript"></script>
    <![endif]-->
    <link rel="shortcut icon" href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/favicon-447e4ac1ab790342660eacfe3dcce264.ico"
          type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/apple-touch-icon-114x114-f1d7ccdc7b86d923386b373a9ba5e3db.png" />
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/apple-touch-icon-144x144-4e306e01c31e237722b82b7aa7130082.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/apple-touch-icon-72x72-2ddbe540853e3ba0d30fbad2a95eab3c.png" />
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/Images/apple-touch-icon-57x57-37527434942ed8407b091aae5feff3f3.png" />

    <title>
        @title
        - GOV.UK</title>



    <script src="https://www.assets.vehicleenquiry.service.gov.uk/vehicleenquiry/Assets/gds/jquery-1.7.2-2ce4706f8f7193defaa9e7df2b641e9a.js" type="text/javascript"></script>
</head>

    <body ontouchstart="">
@content
    </body>
</html>
